VITE_API_BASE_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_D1_DATABASE_NAME=nerzov-db
CLOUDFLARE_R2_BUCKET_NAME=nerzov-assets
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=

JWT_SECRET=
ADMIN_DEFAULT_EMAIL=
ADMIN_DEFAULT_PASSWORD=

STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=
STEADFAST_BASE_URL=

ALLOWED_ORIGINS=
